    timeflux>=0.5.3
    pyedflib
    mne
    gephistreamer
    timeflux_ui
    timeflux_dsp
    timeflux_brainflow
    mne_connectivity
    pyformulas
    brainflow
    zmq
    python-osc
    gephistreamer
