    timeflux==0.17.1
    numpy==1.23.0
    scipy==1.10.1
    pyedflib==0.1.37
    mne==1.2.0
    pyvjoy==1.0.1
    gephistreamer==2.0.3
    timeflux_ui==0.5.2
    timeflux_dsp==0.3.4
    timeflux_brainflow==0.8.0
    mne_connectivity==0.5.0
    pyformulas==0.2.11
    brainflow==5.6.3
    zmq
    python-osc==1.8.1
    gephistreamer==2.0.3
    dist/timeflux_neurofeedback_inverse_gamepad-0.0.0-py3-none-any.whl
    opencv-python==4.5.3.56
    gradio_client==0.3.0
    gradio==3.39.0
    numexpr==2.8.4
    PyQt5==5.15.10
    imageio==2.34.1
    imageio-ffmpeg==0.4.9
	